body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

/* .main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
} */

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid #000000;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}

/* ASSIGNMENT */

/* Fix contrast */
a:focus{
  outline: 5px solid red;
  background-color: #0011FF;
}

footer a {
  background-color: #1f3242;
  color:white;
  font-size: 1em;
  padding:10px;
}

button:focus, textarea:focus, input:focus {
  outline: 3px solid #0011FF;
}

/* style skip links */
.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a{
  position: absolute;
  top: -5em;
  background-color: #0011ff;
  color:white;
  padding: 1em 1em;
  font-weight: bold;
}

.skip-links a:focus{
  top: 0;
}

/* User Experience and Design */
* {
  font-size: 18px;
}

nav ul {
  background-color: #1f3242;
  list-style: none;
  display: flex;
}

nav ul li {
  flex:1;
  text-align: center;
}

nav ul li a{
  display: block;
  padding:1em;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

nav ul li a:hover{
  text-decoration: underline;
}

form button {
  font-weight: bold;
  font-size: 1em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

.owner ul li{
  line-height: 1.5;
}

p {
  line-height: 1.5;
}